{% extends "/../layout/index.html.twig" %}

{% block title %}Sessions schedule - {% endblock %}

{% block nav %}
    <ul class="nav">
        {% for item in nav %}
            {% if item.title == active %}
                <li class="active"><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% else %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}


{% block content %}
<h3>Day 1</h3>
<div class="row-fluid">
    <div class="span12">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Room 1</th>
                    <th scope="col">Room 2</th>
                    <th scope="col">Room 3</th>
                    <th scope="col">Room 4</th>
                </tr>
            </thead>
          <tbody>
                <tr class="vcard">
                    <th scope="row" class="n" data-title="time" nowrap><b>8:00 am</b></th>
                    <td data-title="Ballroom" colspan="4" class="tableCellCenter ">Registration</td>
                </tr>
                <tr class="vcard">
                    <th scope="row" class="n" data-title="time" nowrap><b>9:00 am</b></th>
                    <td data-title="Ballroom" colspan="4" class="tableCellCenter"> Keynote </td>
                </tr>
                {% set count = 0 %}
                {% set hour = 10 %}
                {% for session in sessions %}
                 {% if count == 0 %}
                <tr class="vcard">
                    <th scope="row" class="n" data-title="time" nowrap>{{ hour > 12 ? hour - 12 : hour }}:00 {{ hour < 12 ? 'am' : 'pm' }}</th>
                    <td data-title="Room {{ count + 1 }}"><a href="/sessions/{{ session.title|replace({' ' : '_'}) }}">{{session.title}}</a> (<a href="/speakers#{{ session.fname }}_{{ session.lname }}">{{ session.fname }} {{ session.lname }}</a>) <!-- ({{session.name}}) --></td>
                {% else %}
                    <td data-title="Room {{ count + 1 }}"><a href="/sessions/{{ session.title|replace({' ' : '_'}) }}">{{session.title}}</a> (<a href="/speakers#{{ session.fname }}_{{ session.lname }}">{{ session.fname }} {{ session.lname }}</a>) <!--({{session.name}})--></td>
                {% endif %}
                {% set count  = count + 1 %}
                {% if count == 4 %}
                    {% set hour = hour + 1 %}
                    {% if hour == 12 %}
                </tr>
                <tr class="vcard">
                    <th scope="row" class="n" data-title="time" nowrap>{{ hour }}:00 pm</th>
                    <td data-title="Cafeteria" colspan="4" class="tableCellCenter ">Lunch</td>
                    {% set hour = hour + 1 %}
                    {% endif %}
                    {% set count = 0 %}
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<h3>Day 2</h3>
<div class="row-fluid">
    <div class="span12">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Room 1</th>
                    <th scope="col">Room 2</th>
                    <th scope="col">Room 3</th>
                    <th scope="col">Room 4</th>
                </tr>
            </thead>
          <tbody>
                <tr class="vcard">
                    <th scope="row" class="n" data-title="time" nowrap><b>9:00 am</b></th>
                    <td data-title="Ballroom" colspan="4" class="tableCellCenter "> Keynote </td>
                </tr>
                {% set count = 0 %}
                {% set hour = 10 %}
                {% for session in day2 %}
                 {% if count == 0 %}
                <tr class="vcard">
                    <th scope="row" class="n" data-title="time" nowrap>{{ hour > 12 ? hour - 12 : hour }}:00 {{ hour < 12 ? 'am' : 'pm' }}</th>
                    <td data-title="Room {{ count + 1 }}"><a href="/sessions/{{ session.title|replace({' ' : '_'}) }}">{{session.title}}</a> (<a href="/speakers#{{ session.fname }}_{{ session.lname }}">{{ session.fname }} {{ session.lname }}</a>) <!-- ({{session.name}}) --></td>
                {% else %}
                    <td data-title="Room {{ count + 1 }}"><a href="/sessions/{{ session.title|replace({' ' : '_'}) }}">{{session.title}}</a> (<a href="/speakers#{{ session.fname }}_{{ session.lname }}">{{ session.fname }} {{ session.lname }}</a>) <!--({{session.name}})--></td>
                {% endif %}
                {% set count  = count + 1 %}
                {% if count == 4 %}
                    {% set hour = hour + 1 %}
                    {% if hour == 12 %}
                </tr>
                <tr class="vcard">
                    <th scope="row" class="n" data-title="time" nowrap>{{ hour }}:00 pm</th>
                    <td data-title="Cafeteria" colspan="4" class="tableCellCenter ">Lunch</td>
                    {% set hour = hour + 1 %}
                    {% endif %}
                    {% set count = 0 %}
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
