{% extends "/../layout/index.html.twig" %}
{% block title %}Sessions | {% endblock %}

{% block nav %}
    <ul class="nav">
        {% for item in nav %}
            {% if item.title == active %}
                <li class="active"><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% else %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
     <h3>Sessions</h3>

    {% for item in sessions %}
    <a id="{{ item.title|replace({' ': "_"}) }}"></a>
    <div class="row-fluid">
        <div class="span12">
            <b>{{ item.title }}</b> - <a href="/speakers#{{ item.fname }}_{{ item.lname }}">{{ item.fname }} {{ item.lname }}</a>
            <div class="row-fluid">
                {{ item.summary }}
            </div>
        </div>
    </div>
    {% endfor %}

    <p><i>Disclaimer: While we will do everything we can to ensure all sessions as described, sessions and speakers are
        subject to change based on speaker availability and company obligations. </i></p>
{% endblock %}
